body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0rem 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav__hamburger {
  display: none;
  align-items: end;
  margin: 1rem 0rem;
}

.icon--favorite {
  display: none;
}

.nav__logo {
  flex: 2;
  display: flex;
  justify-content: start;
}

.nav__logo img {
  height: 80px;
  width: 80px;
}

.nav__menu {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
}

.nav__menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem 0%;
  position: relative;
}

.nav__menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

.nav__menu a:hover::after {
  transform: scaleX(1);
}

.nav__actions {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 1rem 0rem;
  gap: 1rem;
}

.nav__search {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__search input {
  width: 11vw;
  min-width: 90px;
  max-width: 190px;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 1s;
  background-color: #eceff1;
}

.nav__search input:focus {
  outline: none;
  border: 1px solid gray;
}

.nav__search input::placeholder {
  color: black;
}

.nav__search-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 10px;
}

.nav__search-button svg {
  width: 16px;
  height: 16px;
  stroke: black;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.icon svg {
  width: 24px;
  height: 24px;
  stroke: black;
}

.icon--active svg {
  fill: #111111;
}

.icon--search {
  display: none;
}

.count {
  width: 16px;
  height: 16px;
  background-color: #2181b7;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.count--active {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1280px;
  flex-grow: 1;
  padding: 0px 15px 30px;
  margin: 0px auto; 
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}

.container p {
  color: #282c31;
}

.container__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container__row__cart-info {
  padding: 0px;
  margin-left: 4%;
  width: 60%;
}

.container__row__cart-info__header {
  margin-top: 60px;
}

.container__row__cart-info__header--topic {
  margin: 0px;
  font-size: 36px;
  line-height: 32px;
  text-transform: uppercase;
}

.container__row__cart-info__header--total {
  margin-top: 20px;
}

.strong {
  font-weight: 700;
}

.container__row__cart-info__header--urgent-message {
  margin-top: 10px;
}

.container__row__cart-info__banner {
  margin: 20px 0px 0px;
  overflow: hidden;
  position: relative;
}

.container__row__cart-info__banner__wrapper {
  padding: 20px 30px;
  background-color: #eceff1;
  border: solid 1px white;
  position: relative;
}

.container__row__cart-info__banner__wrapper--header {
  font-weight: 700;
  margin: 0px 0px 4px;
}

.container__row__cart-info__banner__wrapper--content {
  margin: 0px;
}

.container__row__cart-info__content__item-list {
  width: 100%;
}

.cart-item-group {
  transition: all .45s cubic-bezier(0.3, 0, 1, 1);
}

.cart-item-group__wrapper {
  margin-top: 40px;
  display: flex;
  width: 100%;
  border: solid 1px black;
  max-height: 500px;
}

.image-container {
  width: 220px;
  padding: 0px;
}

.image-container a {
  display: block;
  position: relative;
  padding-bottom: 100%;
  height: 0px;
}

.image-container img {
  width: 100%;
  background-color: #f5f5f5;
}

.item-details__wrapper {
  padding: 0px;
  margin-left: 4%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.item-details__wrapper__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.item-details__info {
  flex-grow: 1;
  padding: 20px 0px;
  margin-right: 10%;
  letter-spacing: 1.5px;
}

.item-details__info p {
  margin: 8px 0px;
}

.item-details__info__title {
  display: flex;
  justify-content: space-between;
}

.item-details__info__title a {
  text-decoration: none;
  color: inherit;
}

.item-details__info__price p {
  margin-top: 0px;
}

.item-details__info__size {
  margin-top: 16px;
}

.item-detail__button-group {
  width: 54px;
  margin: 20px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-detail__button-group button {
  background-color: white;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.item-detail__button-group svg {
  width: 18px;
  height: 18px;
}

.container__row__cart-info__usp {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.container__row__cart-info__usp div {
  margin: 15px 0px 0px;
  display: flex;
}

.container__row__cart-info__usp svg {
  width: 20px;
  height: 20px;
}

.container__row__cart-info__usp p {
  margin: 0px 10px;
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(0.3,0,0,1);
}

.container__row__cart-info__usp p:hover {
  color: white;
  background-color: black;
}

.mobile {
  display: none;
}

.container__row__payment {
  display: block;
  position: sticky;
  top: 40px;
  margin-top: 60px;
  height: 500px;
  padding: 0px;
  margin-left: 4%;
  width: 30%;
}

.button-checkout {
  background-color: black;
  border-color: black;
  color: white;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}

.button-checkout:hover {
  color: #767677;
}

.button-checkout svg {
  margin-top: 5px;
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

.button-checkout:hover svg {
  stroke: #767677;
}

.container__row__payment__checkout-panel {
  margin-top: 60px;
}

.container__row__payment__checkout-panel h5 {
  margin: 0px 0px 30px;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.container__row__payment__checkout-panel div {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 4px;
}

.container__row__payment__checkout-panel p {
  margin: 0px;
}

.container__row__payment__checkout-panel div:last-child {
  margin: 20px 0px 4px;
  font-weight: 700;
}

.container__row__payment__coupon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.container__row__payment__coupon-wrapper div {
  margin: 15px 0px 0px;
  display: flex;
}

.container__row__payment__coupon-wrapper svg {
  width: 20px;
  height: 20px;
}

.container__row__payment__coupon-wrapper p {
  margin: 0px 10px;
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(0.3,0,0,1);
}

.container__row__payment__coupon-wrapper p:hover {
  color: white;
  background-color: black;
}

.container__row__payment__payment-method {
  margin-top: 40px;
}

.container__row__payment__payment-method h4 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0px 0px 15px;
}

.container__row__payment__payment-method div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.container__row__payment__payment-method img {
  margin: 8px 8px 8px 0px;
  height: 30px;
}

@media (max-width: 1280px) {
  .nav {
    padding: 0rem 2rem;
  }

  .nav__logo {
    flex: 1;
  }

  .nav__menu {
    justify-content: start;
  }

  .container {
    max-width: 1175px;
  }

  .container__row__cart-info {
    width: 55%;
    margin-left: 0%;
  }

  .container__row__payment {
    width: 37%;
  }
}

@media (max-width: 960px) {
  .nav {
    padding: 0rem 1rem;
    box-shadow: none;
  }

  .nav__logo {
    justify-content: center;
    order: 1;
    flex: 2;
  }

  .nav__logo img {
    height: 60px;
    width: 60px;
  }

  .nav__hamburger {
    display: flex;
    align-items: end;
    order: 0;
    flex: 2;
    gap: 1rem;
  }

  .icon--favorite {
    display: block;
  }

  .nav__menu {
    display: none;
  }

  .nav__actions {
    order: 2;
    flex: 2;
  }

  .icon svg {
    width: 20px;
    height: 20px;
  }

  .icon--favorite svg {
    width: 18px;
    height: 18px;
    stroke: black;
  }

  .icon--hamburger {
    top: -2px;
  }

  .icon--hamburger svg {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
  }

  .nav__search {
    display: none;
  }

  .icon--search {
    display: block;
  }

  .icon--favorites {
    display: none;
  }

  .container {
    max-width: 95vw;
  }

  .container__row__cart-info {
    width: 100%;
  }

  .container__row__cart-info__banner {
    max-width: 729px;
  }

  .container__row__cart-info__usp {
    display: none;
  }

  .mobile {
    display: block;
  }

  .container__row__payment {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }

  .container__row__payment__button-wrapper {
    margin-top: 40px;
  }

  .container__row__payment__payment-method {
    order: -1;
  }
}

@media (max-width: 680px) {
  .nav__hamburger {
    gap: 0.1rem;
  }

  .nav__actions {
    gap: 0.1rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90vw;
  }

  .cart-item-group__wrapper {
    border: none;
  }

  .image-container {
    width: 40%;
  }

  .item-details__wrapper {
    margin-bottom: -15px;
    justify-content: start;
  }

  .item-details__info {
    padding: 0px;
  }

  .item-details__info p {
    margin: 0px;
  }
}

.footer {
  background-color: #282c31;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin-top: 80px;
  font-weight: lighter;
  gap: 0.5rem;
}

.footer-link,
.footer-text {
  text-decoration: none;
  color: #e5e9ed;
  font-size: 0.75rem;
}

.footer-link::after {
  content: "|";
  margin-left: 0.5rem;
}

.footer-link:last-of-type::after {
  content: "";
}
