body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0rem 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.hamburger-menu {
  display: none;
  align-items: end;
  margin: 1rem 0rem;
}

.icon-960 {
  display: none;
}

.logo {
  flex: 2;
  display: flex;
  justify-content: start;
}

.logo img {
  height: 80px;
  width: 80px;
}

.menu {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem 0%;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

.menu a:hover::after {
  transform: scaleX(1);
}

.search-user-favorites-cart {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 1rem 0rem;
  gap: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input {
  width: 11vw;
  min-width: 90px;
  max-width: 190px;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 1s;
  background-color: #eceff1;
}

.search-container input:focus {
  outline: none;
  border: 1px solid gray;
}

.search-container input::placeholder {
  color: black;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 10px;
}

.search-button svg {
  width: 16px;
  height: 16px;
  stroke: black;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
}

.icon svg {
  width: 24px;
  height: 24px;
  stroke: black;
}

.search-icon {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
  transition: width 0.9s ease-out;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 15px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.wrapper {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selector-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.selector-group a {
  text-decoration: none;
  padding: 2rem 0%;
}

.selector-link {
  color: #707070;
}

.selected {
  position: relative;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
}

.filter-icon {
  display: none;
}

.filter-button {
  background-color: white;
  color: black;
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 1.5rem;
}

.filter-button:hover {
  color: #707070;
}

.filter-button svg {
  rotate: 90deg;
  width: 16px;
  height: 16px;
}

.grid {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.grid a {
  text-decoration: none;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-card:hover {
  background-color: white;
  padding: 5px;
  margin: 5px;
  z-index: 10;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-content {
  color: black;
  position: relative;
  padding: 12px 0 2px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  min-height: 185px;
}

.hidden {
  display: none;
}

.product-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #707072;
  font-size: 16px;
  font-weight: 400;
}

.product-price {
  padding-top: 12px;
}

.bestseller p:first-of-type {
  display: block;
  color: #9e3500;
}

.promotion p:last-of-type {
  display: block;
  color: #007d48;
}

.filter-panel {
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  width: 100%;
  visibility: hidden;
}

.filter-panel-active {
  opacity: 1;
  visibility: visible;
}

.filter-panel-blur {
  width: 100%;
  max-width: calc(100% - 400px);
  height: 100%;
}

.filter-panel-container {
  z-index: 121;
  background-color: white;
  padding: 0px;
  top: 0;
  right: 0;
  left: unset;
  width: 100%;
  max-width: 400px;
  height: 100%;
  scrollbar-width: none;
  overscroll-behavior: contain;
  position: fixed;
  overflow: auto;
  border: none;
  transition: transform 0.3s;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
}

.filter-panel-active .filter-panel-container {
  transform: translateX(0);
}

.filter-panel-header {
  background-color: white;
  margin: 0;
  border: none;
  border-bottom: 1px solid #eceff1;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 150;
  height: 65px;
  flex-shrink: 0;
}

.filter-panel-header h5 {
  position: relative;
  padding: 0px 20px;
  margin: 20px 0;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-panel-header__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1em;
}

.filter-panel-header__clear {
  padding: 0px 1px;
  margin: 0 40px 0 auto;
  color: #767677;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(0.03, 0, 0, 1);
}

.filter-panel-header__clear:hover {
  background-color: black;
  color: white;
}

.filter-panel-header__close svg {
  margin-top: 3px;
  width: 28px;
  height: 28px;
}

.filter-panel-body {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 100px;
  scrollbar-width: none;
  overscroll-behavior: contain;
}

details {
  border: none;
  border-bottom: 1px solid #eceff1;
  margin: 0px;
  box-sizing: border-box;
}

details summary {
  width: 80%;
  height: 50px;
  padding: 0px 35px 0px 16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

details summary span {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

details summary::after {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

details[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}

details div ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

details div li {
  padding-left: 16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  min-height: 50px;
  max-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eceff1;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

details div li:last-of-type {
  border-bottom: none;
}

details div li input[type="checkbox"] {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #767677;
  border-radius: 0px;
  accent-color: black;
}

details div li input[type="checkbox"]:checked {
  background-color: black;
  border: 2px solid black;
}

details div li label {
  cursor: pointer;
}

.filter-panel-body__price__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.slider-control {
  margin-top: 10px;
  position: relative;
  min-height: 40px;
}

.form-control {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-control p {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #767677;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #767677;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #767677;
  pointer-events: none;
}

#from-slider {
  height: 0;
  z-index: 1;
}

.filter-panel-footer {
  background-color: white;
  position: fixed;
  overflow: hidden;
  padding: 25px;
  bottom: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #eceff1;
  flex-shrink: 0;
  z-index: 200;
}

.button-apply {
  background-color: black;
  border-color: black;
  color: white;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}

.button-apply:hover {
  color: #767677;
}

.button-apply svg {
  margin-top: 5px;
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

.button-apply:hover svg {
  stroke: #767677;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 0rem 2rem;
  }

  .logo {
    flex: 1;
  }

  .menu {
    justify-content: start;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .navbar {
    padding: 0rem 1rem;
    box-shadow: none;
  }

  .logo {
    justify-content: center;
    order: 1;
    flex: 2;
  }

  .logo img {
    height: 60px;
    width: 60px;
  }

  .hamburger-menu {
    display: flex;
    align-items: end;
    order: 0;
    flex: 2;
    gap: 1rem;
  }

  .icon-960 {
    display: block;
  }

  .menu {
    display: none;
  }

  .search-user-favorites-cart {
    order: 2;
    flex: 2;
  }

  .icon svg {
    width: 20px;
    height: 20px;
  }

  .icon-960 svg {
    width: 18px;
    height: 18px;
    stroke: black;
  }

  .hamburger-icon svg {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
  }

  .search-container {
    display: none;
  }

  .search-icon {
    display: block;
  }

  .favorite-icon {
    display: none;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .grid {
    grid-template-columns: repeat(3, 33.33%);
  }

  .product-content {
    padding: 12px 12px 0 12px;
    font-size: 14px;
    line-height: 12px;
  }

  .promotion {
    font-size: 14px;
  }

  .bestseller {
    font-size: 14px;
  }

  .product-title {
    padding-top: 2px;
    font-size: 14px;
  }

  .product-subtitle {
    font-size: 14px;
  }

  .product-price {
    padding-top: 6px;
  }

  .filter-panel-container {
    max-width: 100%;
  }

  details {
    margin: 30px;
  }

  details summary {
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 680px) {
  .hamburger-menu {
    gap: 0.1rem;
  }

  .search-user-favorites-cart {
    gap: 0.1rem;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
    padding-top: 10px;
  }

  .cover {
    margin-top: 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .selector {
    font-size: 12px;
    justify-content: space-between;
    width: 75vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .selector-group {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
  }

  .selector-group a {
    padding: 0.75rem 0;
    margin-right: 1rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .filter-button {
    display: none;
  }

  .filter-icon {
    margin-left: 0.5rem;
  }

  .filter-icon svg {
    width: 16px;
    height: 16px;
  }

  .filter-icon {
    display: block;
    rotate: 90deg;
  }

  .product-card:hover {
    padding: 0px;
    margin: 0px;
  }

  .product-content {
    padding: 0 12px 0 12px;
  }

  .product-title {
    padding-top: 0;
    line-height: 16px;
  }

  .product-price {
    padding-top: 2px;
  }

  .promotion p:last-of-type {
    font-size: 10px;
  }

  .filter-panel-header__clear {
    margin: 0px 10px 0px auto;
  }
}

.footer {
  background-color: #282c31;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  font-weight: lighter;
  gap: 0.5rem;
}

.footer-link,
.footer-text {
  text-decoration: none;
  color: #e5e9ed;
  font-size: 0.75rem;
}

.footer-link::after {
  content: "|";
  margin-left: 0.5rem;
}

.footer-link:last-of-type::after {
  content: "";
}
